@model CrudExample.Models.Contact

@{
    ViewData["Title"] = "Contact Details";
}

<div class="row">
    <div class="col-12">
        <h2 class="text-white bg-dark p-3 mb-0">Contact Details</h2>

        <div class="border p-3">

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Name..." readonly />
            </div>

            <div class="form-group mb-3">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number..." readonly />
            </div>

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" readonly />
            </div>

            <div class="form-group mb-3">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated.Date" class="form-control" placeholder="Date Created" readonly />
            </div>

            <div class="form-group text-center">
                <a class="btn btn-secondary d-inline-block my-3" asp-controller="Home" asp-action="Index">Return</a>
            </div>

        </div>
    </div>
</div>