@model CrudExample.Models.Contact

@{
    ViewData["Title"] = "Contact Not Found";
}

<div class="row">
    <div class="col-12">
        <h2 class="text-white bg-dark p-3 mb-0">Contact not found</h2>
        <div class="border p-3 text-center">
            <p class="my-3">The contact you request was not found.</p>
            <div class="form-group ">
                <a class="btn btn-secondary d-inline-block my-3" asp-controller="Home" asp-action="Index">Return</a>
            </div>
        </div>
    </div>
</div>